body{background-image:url(fon2.jpg)}
h1{color:#ffd700;font-size:45pt;text-align:center;padding:25px;background-color:#000}
#bl{color:#ffd700;font-size:18pt;text-align:center;background-color:#cd5c5c;padding:35px;border-color:#c4c4c4;border-width:15px;border-style:ridge}
#bl:hover{background-color:#ff2e00}
p{color:#ffd700;font-size:15pt;text-align:justify}
#tx{background-color:#000;padding:10px}
a:hover{color:#ffd700; text-decoration:none}
a:visited{color:#ffd700; text-decoration:none}
a:link{color:#ffd700; text-decoration:none}